body {
    background: #f6f6f6;
    font-family: 'Staatliches', cursive;
  }
  #SLIDE_BG {
      margin: 0 2px;
      width: 100%;
      height: 100vh;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      backface-visibility: hidden;
      animation: slideBg 8s linear infinite 0s;
      animation-timing-function: ease-in-out;
      background-image: url('../my-birthday-site/1.jpg');
  }
  @keyframes slideBg {
    0% {
        background-image:url('../my-birthday-site/2.jpg')
    }
    25% {
        background-image:url('../my-birthday-site/3.jpg')
    }
    50% {
        background-image:url('../my-birthday-site/4.jpg')
    }
    75% {
        background-image:url('../my-birthday-site/5.jpg')
    }
    100% {
        background-image:url('../my-birthday-site/1.jpg')
    }

  }

 
  .countdownContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 70px;
  
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
  
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;}
  
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
  
  
  .info {
    font-size: 80px;
  }
  
  #notBirthdayTime {
    color: white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 60px;
  }
  
  #birthdayTime {
    display: none;
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
  
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;}
  
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
  
    #birthdayTime h3 {
      position: absolute;
      top: 20%;
      right: 25%;
      font-size: 150px;
      color: white;
      z-index: 1;
    }
  
  #unicornPicture {
    position: absolute;
    height: 100%;
    top: 0%;
  }
  